
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    display: flex;
    height: 100vh;
  }
  
  .app-container {
    display: flex;
    height: 100%;
    width: 100%;
  }
  
  .hhh, .test {
    width: 100%; /* Pastikan elemen memanfaatkan seluruh lebar kontainer */
    margin-bottom: 20px; /* Memberikan jarak antara komponen */
  }
  .styled-table {
    width: 100%;
    margin: 20px auto;
    border-collapse: collapse;
    font-size: 16px;
    text-align: left;
  }
  
  .styled-table th, .styled-table td {
    border: 1px solid #ddd;
    padding: 12px 15px;
  }
  
  .styled-table th {
    background-color: #022b61;
    color: white;
    text-transform: uppercase;
  }
  
  .styled-table tr:nth-child(even) {
    background-color: #f3f3f3;
  }
  
  .sidebar {
    width: 200px;
    background-color: #022b61;
    color: white;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Mengatur tombol ke atas */
  }
  
  .sidebar h2 {
    display: flex;
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 30px;
    color: white;
  }
  
  .sidebar-button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #022b61;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 5px; /* Mengurangi jarak antar tombol */
    text-align: left;
    transition: background-color 0.3s ease;
  }
  
  .sidebar-button:hover {
    background-color: #ffffff;
    color: black;
  }
  
  .content {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
    background-color: #fff;
  }
  
  .home {
    text-align: center;
  }
  
  .home h1 {
    font-size: 2.5rem;
    color: #022b61;
  }
  
  .home p {
    font-size: 1.2rem;
    margin: 20px 0;
    color: #555;
  }
  

  .box {
    margin: 5px;
    padding: 5px; /* Increased padding for a more spacious look */
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Ensures content is centered horizontally */
    text-align: center;
    width: auto; /* Allow the width to adjust to content */
    height: 10px; /* Allow the height to adjust to content */
    min-width: 150px; /* You can set a minimum width if necessary */
    min-height: 100px; /* Minimum height for consistency */
  }
  

.box-active {
  background-color: #ffc000;
  border-color: #ffc000;
}

.box-suspended {
  background-color: #e6e5e6;
  border-color: #e6e5e6;
}

.box-completed {
  background-color: #90d14f;
  border-color: #90d14f;
}

.box-terminated {
  background-color: #f70400;
  border-color: #f70400;
}

.box-default {
  background-color: #e5e7eb;
  border-color: #9ca3af;
}

.text {
  font-size: 15px;
  font-weight: bold;
}

.amount {
  color: #000000;
}
.card-header{
  border: 1px solid #555;
  border-radius: 8px;
  padding: auto;
  background-color: #d4d4d4;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  width: auto;
  margin: 10px;
  text-align: center;
}
.card {
  border: 1px solid #555;
  border-radius: 8px;
  padding: auto;
  background-color: white;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  width: auto;
  margin: 10px;
  text-align: center;
}
.card-notes {
  margin-top: 20px;
  overflow-x: auto;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 3px;
}

.pie-chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
